<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-4 p-md-5">
            <div class="row">
              <div class="col-md-6 mb-4">
                <form
                  class="form bg-light justify-content-center"
                  [formGroup]="loginForm"
                >
                  <legend>Log-In</legend>                    

                  <div class="form-outline">
                    <label class="form-label"> Email</label>
                    <input type="email" class="form-control" formControlName="email" placeholder= "enter your email" name="email" />
                    <div *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
                      <span style="color: rgb(189, 80, 80);"> enter your email*</span>
                  </div>

                  </div>

                  <div class="form-outline">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="pwd" placeholder="enter your password" name="pwd" />
                    <div *ngIf="!loginForm.controls['pwd'].valid && loginForm.controls['pwd'].touched">
                      <span style="color: rgb(182, 42, 42);">enter your password*</span>
                    </div>
                  </div>

                  <div class="ancher">
                    <a [routerLink]="['/forget-pass']">Forget Password</a>

                    <a [routerLink]="['/register']"> Sing-Up</a>
                  </div>

                  <div class="butt">
                    <button type="button" (click)="postlog()">Sign-In</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
